.shrink {
	background-color: pink;
}

nav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  min-height: 100px;
  min-width: min-content;
  margin-top: 2px;
  // display: none;

  a {
    color: black;
    text-decoration: none;

  }

  a#logo,
  div#menu {
    // border: 2px solid navy;
    margin: 5px 0px;
    min-height: 90px;
  }

  a#logo {
    // background-color: yellow;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;

    h3 {
      font-size: 30px;
      font-weight: 700;
    }
  }

  div#menu {
    // background-color: teal;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;

    div#lists {
      // background-color: orange;
      display: flex;
      flex-flow: column nowrap;
      justify-content: space-between;

      ul#upperList {
        // background-color: teal;
        li {
          align-items: flex-end;
          display: flex;
          flex-flow: column nowrap;
          justify-content: center;
          margin-right: 25px;

          span {
            display: block;
            font-size: 15px;
            margin-bottom: 3px;
          }

          a {
            font-size: 15px;

          }
        }
      }

      ul#lowerList {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-end;

        li a {
          // background-color: aqua;
          font-size: 18px;
          margin-right: 25px;
        }
      }

      ul#lowerList a:hover,
      ul#upperList a:hover {
        border-bottom: 2px solid black;
        cursor: pointer;
      }
    }

    a#redBox {
      background-color: red;

      ul {
        // background-color: pink;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
        min-height: 90px;
        min-width: 90px;
      }

      li {
        // background-color: beige;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;

        div.cross {
          align-self: flex-end;
          margin: 5px;
        }

        span {
          align-self: center;
          color: white;
          margin-top: -10px;
          margin-bottom: 10px;
        }
      }
    }
  }

  div.cross {
    height: 30px;
    position: relative;
    width: 30px;
    z-index: 5;
  }

  div.cross:before, div.cross:after {
    background-color: white;
    content: '';
    position: absolute;
    transition: background-color .7s;
    z-index: 5;
  }

  div.cross:before {
    height: 100%;
    left: 50%;
    margin-left: -15%;
    width: 30%;
  }

  div.cross:after {
    height: 30%;
    margin-top: -15%;
    top: 50%;
    width: 100%;
  }

}

@media (max-width: 550px) {
  header nav div#menu {
    // background-color: green;

  div#lists {

      ul#upperList li {
        display: none;
        margin-left: 0;

        a {
          // font-size: 10px;
          // margin-right: 10px;
          }

        }

      ul#lowerList {
        align-items: flex-end;
        // background-color: teal;
        flex-flow: column nowrap;
        height: 100%;
        justify-content: space-around;

        li a {
          // background-color: aqua;
          font-size: 12px;
          margin-right: 10px;
        }
      }
    }

    a#redBox {
      background-color: red;

      ul {
        // background-color: pink;
        align-items: center;
        justify-content: center;
        min-width: 70px;
      }

      li {
        // background-color: purple;
        align-self: center;

        div.cross {
          display: none;
        }

        span {
          color: white;
          font-size: 13px;
          margin-top: 0px;
          margin-bottom: -5px;
          padding: 5px;
          text-align: center;
        }
      }
    }
  }
}
