/* global styling */

html, body {
  font-family: 'NeueHaasGrotesk';
  font-weight: 500;
}

div#contains {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100vh;
}

section#title {
  width: 50%;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  background-color: black;
}

section#title div#logo {
  align-self: center;
}

section#title div#logo h3 {
  color: white;
  font-size: 4rem;
  font-weight: 700;
}

section.passwordreset {
  width: 50%;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}

section.passwordreset ul {
  text-align: center;
}

section.passwordreset ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row nowrap;
  margin: 1rem 2rem;
  overflow: hidden;
}

section.passwordreset ul li span#notice {
  color: red;
  font-size: 1.5rem;
}

section.passwordreset ul li span {
  flex: 1 2 0;
  padding: .5rem 1rem .5rem 0;
  font-size: 1.6rem;
  font-weight: 600;
  align-self: center;
}

section.passwordreset ul li input[type="text"],
section.passwordreset ul li input[type="password"], {
  flex: 2 0 0;
  border: 2px solid black;
  font-size: 1.3rem;
  padding: .4rem;
  margin: .5rem 0;
}

section.passwordreset ul li span#input_tag {
  display: none;
}

section.passwordreset ul li span#input_tag + input {
  border: 2px solid red;
}


section.passwordreset ul li input[type="submit"],
section.passwordreset a {
  flex: 1 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border: 2px solid black;
  height: 4rem;
  margin: .5rem 1rem;
  background-color: black;
  font-size: 1.5rem;
  font-weight: 200;
  letter-spacing: .1rem;
  padding: 1rem .3rem;
  color: white;
  transition: background-color .5s, color .5s;
}

section.passwordreset ul li input[type="submit"]:hover,
section.passwordreset a:hover {
  background-color: white;
  color: black;
}

section.passwordreset ul li input[type="submit"]:active,
section.passwordreset a:active {
  background-color: rgba(202,203,201,1);
}

section.passwordreset h4 {
  margin: 1rem auto 0;
  font-size: 1rem;
  font-weight: 500;
  color: red;
}

section.passwordreset h4:last-child {
  margin-top: .5rem;
}

@media (max-width: 1000px) {

  section#title div#logo h3 {
    color: white;
    font-size: 4rem;
    font-weight: 700;
  }

  section.passwordreset ul li span {
    padding: .4rem .6rem .4rem 0;
    font-size: 1.3rem;
  }

  section.passwordreset ul li input[type="text"],
  section.passwordreset ul li input[type="password"], {
    font-size: 1.2rem;
    padding: .3rem;
    margin: .3rem 0;
  }

  section.passwordreset ul li input[type="submit"] {
    font-size: 1.3rem;
    font-weight: 200;
  }

  section.passwordreset ul li span#notice {
    font-size: 1.3rem;
  }

}

@media (max-width: 800px) {

  div#contains,
  section#title,
  section.passwordreset {
    display: block;
    width: 100%;
  }

  section#title div#logo {
    text-align: left;
    margin: 0 auto 0 2rem;
    padding: 1.5rem 0;
  }

  section#title div#logo h3 {
    color: white;
    font-size: 3rem;
    font-weight: 700;
  }

  section.passwordreset ul li span {
    padding-right: .5rem;
    font-size: 1.3rem;
  }

  section.passwordreset ul li input[type="text"],
  section.passwordreset ul li input[type="password"], {
    font-size: 1.2rem;
    padding: .3rem;
    margin: .3rem 0;
  }

  section.passwordreset ul li input[type="submit"] {
    font-size: 1.3rem;
    font-weight: 200;
  }

  section.passwordreset ul li span#notice {
    font-size: 1.3rem;
  }
}


