
div.containsSearchAndTrusts {
	position: relative;
	width: 100%;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	overflow: hidden;
	/*background-color: purple;*/
}

/* ---------------- tablet styling ---------------- */

@media (min-width: 481px) and (max-width: 855px) {

	div.containsSearchAndTrusts {
		display: flex;
		flex-flow: column nowrap;
		padding: 0;
		overflow: visible;
		height: auto;
		/*border: 5px solid teal;*/
	}

}

/* ---------------- mobile styling ---------------- */

@media (max-width: 480px) {

	div.containsSearchAndTrusts {
		display: inline;
		overflow: visible;
		height: auto;
	}

}

