form.search {
  flex: 1 0 0;
  background-color: black;
  font-size: 1rem;
  color: white;
  padding: 3rem 1rem 0;
  margin-right: 1vw; }

form.search ul {
  display: block;
  margin-top: 1.5rem; }

form.search ul li {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem; }

form.search span {
  position: absolute;
  border-bottom: 2px solid white;
  height: 1rem;
  width: 20%;
  top: 1.5rem; }

form.search ul li input,
form.search ul li select {
  flex: 2 0 10rem;
  border: 1px solid white;
  height: 2.5rem;
  font-size: 1.2rem;
  letter-spacing: 1px;
  font-weight: 200;
  padding: .5rem;
  text-overflow: ellipsis;
  background-color: black;
  color: white; }

form.search ul li select {
  -webkit-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  -ms-appearance: none;
  appearance: none;
  border-radius: 0px;
  width: 0;
  background-image: url("../assets/images/white_arrow.png");
  background-repeat: no-repeat;
  background-position: right .45rem;
  background-size: 1.6rem; }

form.search ul li input.invalid,
form.search ul li select.invalid {
  border: 2px solid red; }

form.search ul li label.invalid {
  display: relative; }

form.search ul li label.invalid::before {
  content: 'Fill in a required field.';
  position: absolute;
  color: yellow;
  top: 3rem;
  font-size: .9rem;
  font-weight: 200;
  z-index: 2; }

form.search ul li label {
  flex: 1 0 5rem;
  margin-right: 2rem;
  font-size: 1.3rem;
  font-weight: 500;
  letter-spacing: 1px;
  align-self: center; }

form.search ul li div.fulldatefield {
  flex: 2 0 10rem;
  display: flex;
  justify-content: space-between; }

form.search ul li div.fulldatefield select.month {
  flex: 1 0 3rem;
  max-width: 8rem; }

form.search ul li div.fulldatefield input.day {
  flex: 1 0 2rem;
  max-width: 3.5rem;
  margin: 0 .2rem; }

form.search ul li div.fulldatefield input.year {
  flex: 1 0 3rem;
  max-width: 4rem; }

form.search ul li:last-child {
  display: flex;
  justify-content: space-between; }

form.search .button {
  text-decoration: none;
  color: white;
  border: 1px solid white;
  font-size: 1.2rem;
  font-weight: 500;
  height: auto;
  letter-spacing: .1rem;
  padding: 1rem;
  text-align: center;
  transition: background .5s, color .5s, border .5s;
  align-self: middle; }

form.search input[type="button"].button {
  flex: 1 0 0;
  margin-left: 1rem;
  order: 2; }

form.search input[type="submit"].button:hover {
  background-color: red;
  border: 1px solid red;
  color: white; }

form.search input[type="button"].button:hover {
  background-color: white;
  color: black; }

form.search .button:active {
  opacity: .8; }

/* ---------------- tablet styling ---------------- */
@media (min-width: 481px) and (max-width: 855px) {
  form.search {
    display: block;
    margin-right: 0;
    margin-left: 0;
    padding: 1rem;
    height: auto; }
  form.search ul {
    width: 100%; }
  form.search ul li input {
    width: 65%; }
  form.search ul li input + label {
    width: 30%;
    font-size: 1.2rem; } }

/* ---------------- mobile styling ---------------- */
@media (max-width: 480px) {
  form.search {
    display: flex;
    margin-right: 0;
    padding: .2rem 1rem;
    height: auto; }
  form.search span {
    display: none; }
  form.search ul {
    width: 100%; }
  form.search ul li input {
    flex: 2 0 10rem;
    padding: .2rem;
    font-size: 1rem; }
  form.search ul li label {
    flex: 1 0 5rem;
    font-size: 1.2rem; } }
