section.results {
  border-top: 2px solid black;
  margin: 2vh 0;
  // background-color: teal;
}

section.results div.results_banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
}

section.results div.results_banner p {
  font-size: 1.3rem;
  font-weight: 600;
  padding: 1rem 2rem;
}

section.results table {
  width: 100%;
  margin: 0;
  font-size: 1.1rem;
  border-collapse: collapse;
}

section.results table thead th {
  font-weight: 600;
  padding: .5rem 1rem;
  border-bottom: 2px solid black;
  vertical-align: middle;
}

section.results table thead th:hover {
  cursor: pointer;
}

section.results table thead th:hover a {
  color: red;
}

section.results table tbody td {
  padding: .4rem .5rem .3rem;
  height: 80px;
  text-align: center;
  font-weight: 500;
  border-bottom: 1px solid black;
  vertical-align: middle;
}

section.results table thead th:nth-child(1),
section.results table tbody td:nth-child(1) {
  width: 18%;
}

section.results table thead th:nth-child(2),
section.results table tbody td:nth-child(2) {
  width: 25%;
}

section.results table thead th:nth-child(3),
section.results table tbody td:nth-child(3) {
  width: 13%;
}

section.results table thead th:nth-child(4),
section.results table tbody td:nth-child(4) {
  width: 9%;
}

section.results table thead th:nth-child(5),
section.results table tbody td:nth-child(5) {
  width: 15%;
}

section.results table thead th:nth-child(6),
section.results table tbody td:nth-child(6) {
  width: 10%;
}

section.results table thead th:nth-child(7),
section.results table tbody td:nth-child(7) {
  width: 10%;
}

section.results table tbody tr:hover {
  background-color: black;
}

section.results table tbody tr:hover td {
  font-weight: 200;
  letter-spacing: .09rem;
  color: white;
}

section.results table tbody tr img.editing {
  height: 20px;
}

section.results table tbody tr:hover img.editing {
  height: 20px;
}

section.results table tbody tr td a {
  padding: .5rem;
}

section.results table tbody tr:hover td a:first-child{
  color: green;
  cursor: pointer;
}

section.results table tbody tr:hover td a:last-child {
  color: red;
  cursor: pointer;
}

section.results table tbody tr:hover td:first-child {
  font-weight: 200;
  letter-spacing: .09rem;
  color: red;
}

section.results table tbody tr td input,
section.results table tbody tr td select {
    border: 1px solid black;
    height: 2rem;
    font-size: 1rem;
    font-weight: 500;
    padding: .2rem;
    text-overflow: ellipsis;
    background-color: white;
    color: black;
    -webkit-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    -ms-appearance: none;
    appearance: none;
    border-radius: 0px;
    width: 100%;
}

section.results table tbody tr td select.grayedOut {
  background-color: #BFBFBF;
}

section.results table tbody tr td select.pointable {
  cursor: pointer;
}


/* ---------------- tablet styling ---------------- */

@media (min-width: 481px) and (max-width: 855px) {

  section.results {
    display: block;
    // clear: both;
    // overflow: auto;
    height: 100%;
    // padding-bottom: 150px;
  }

  section.results div.results_banner p {
    font-size: 1.2rem;
    font-weight: 600;
    padding: 1rem 1rem;
    text-align: center;
  }

  section.results table thead tr th,
  section.results table tbody tr td {
    font-size: 1rem;
  }

  section.results table tbody tr:hover td {
    font-weight: 200;
    letter-spacing: .07rem;
    color: white;
  }

  section.results table thead tr th:nth-child(6),
  section.results table thead tr th:nth-child(7),
  section.results table thead tr th:nth-child(8),
  section.results table tbody tr td:nth-child(6),
  section.results table tbody tr td:nth-child(7),
  section.results table tbody tr td:nth-child(8) {
    display: none;
  }

}

/* ---------------- mobile styling ---------------- */

@media (max-width: 480px) {


  section.results {
    margin: 1rem 1rem;
  }

  section.results div.results_banner p {
    font-size: .9rem;
    font-weight: 600;
    padding: 1rem 1rem;
    text-align: center;
  }

  section.results table thead tr th,
  section.results table tbody tr td {
    font-size: .7rem;
    font-weight: 600;
    padding: .4rem .1rem;
  }

  section.results table tbody tr:hover td {
    font-weight: 200;
    letter-spacing: .04rem;
    color: white;
  }

  section.results table thead tr th:nth-child(6),
  section.results table thead tr th:nth-child(7),
  section.results table thead tr th:nth-child(8),
  section.results table tbody tr td:nth-child(6),
  section.results table tbody tr td:nth-child(7),
  section.results table tbody tr td:nth-child(8) {
    display: none;
  }

  footer {
    margin-top: 2rem;
  }

}

